---
// src/components/Giscus.astro
// This component is responsible for rendering the Giscus comments widget.
// It will be placed at the bottom of each blog post.
---
<section class="giscus mt-16">
  <script src="https://giscus.app/client.js"
          data-repo="eitamar-saraf/eitamar-saraf.github.io"
          data-repo-id="R_kgDOLp22Lw"
          data-category="Announcements"
          data-category-id="DIC_kwDOLp22L84Cf-vX"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="light"
          data-lang="en"
          crossorigin="anonymous"
          async>
  </script>
</section>

<style>
  /* Ensures the comments section has some breathing room */
  .giscus {
    margin-top: 4rem;
  }
</style>
